
@model List<Estudiante>

@{
}

<h1>Estudiantes</h1>
<hr />
<table class="table table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayName( "Cèdula")
        </th>
        <th>
            @Html.DisplayName( "Nombre")
        </th>
        <th>
            @Html.DisplayName( "Apellido1")
        </th>
        <th>
            @Html.DisplayName( "Apellido2")
        </th>
        <th>
            @Html.DisplayName( "Telèfono")
        </th>
        <th>
            @Html.DisplayName( "Correo")
        </th>
        <th>
            @Html.DisplayName( "Fecha Ingreso")
        </th>
        <th>
            @Html.DisplayName( "Estado")
        </th>
        <th>
            <a asp-action="AgregarOEditar" class="btn btn-outline-success"><i class="fas fa-plus-square"></i> Agregar</a>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Cedula
            </td>
            <td>
                @item.Nombre
            </td>
            <td>
                @item.Apellido1
            </td>
            <td>
                @item.Apellido2
            </td>
            <td>
                @item.Telefono
            </td>
            <td>
                @item.Correo
            </td>
            <td>
                @item.FechaIngreso
            </td>
            <td>
                @item.Estado
            </td>
            <td>
                <a asp-action="AgregarOEditar" asp-route-id="@item.Id"><i class="fas fa-marker fa-lg"></i>Editar</a>
                <a asp-action="Eliminar" asp-route-id="@item.Id" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="fas fa-trash-alt fa-lg"></i>Borrar</a>
            </td>
        </tr>
    }
    </tbody>
</table>